.page{
    display: flex;
    justify-content: center;
    font-size: larger;
}
.create{
    text-align: left;
}
.create-spot{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    width: 50%;

}
.red{
    color: red;
}
.full-label.dollar{
display: flex;

}

.city-state{
    display: flex;
    justify-content: space-between;
}
.city-state label{
    display: flex;
    flex-direction: column;
}
.full-label{
    width: 100%;

}
.full-label input{
    width: 100%;
    background-color: #E8F0FE;
}

.create-button{
    height: 40px;
    border: solid black 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 2px 5px 5px black;
    background-color: #ff5a5f;
    color: white;
    align-self: center;
    font-size: 20px;
}

.description{
    background-color: #E8F0FE;
    width: 100%;
}
