body {
    background-color: #FFFFFF;
}

img {
    height: 250px;
    width: 250px;
    object-fit:cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    column-gap: 20px;
}
.spot-card-container{
    display: flex;
    flex-direction: column ;
}

.spot-data-container{
    display: flex;
    flex-direction: column;
}

.city-review-data{
    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer
}

/* .tooltip{
    display: none;
    position: absolute;
    top:100%;
    left:0;
    padding: 3px;
    border: 1px solid black;
}

.element:hover .tooltip{
    display:block
} */
