body {
    background-color: #FFFFFF;
}
.no-line{
    text-decoration: none;
}
img {
    height: 250px;
    width: 250px;
    object-fit:cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: flex-start;
    margin:auto;
    width: 1060px;
}
.spot-card-container{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}

.spot-data-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    justify-content: space-between;
}

.pointer {
    cursor: pointer
}
.manageH1{
    margin-left: 150px;

}
