.hidden {
    display: none;
}
.logo{
    text-decoration: none;
    color:#FF5A5F;
}
nav{
    display: flex;
    border-bottom: solid grey;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.pointer{
    cursor:pointer;
}

.profile-dropdown > li{
    list-style-type: none;
}
.buttons-container{
    /* display: flex; */
    margin-left: auto;
    margin-bottom: 10px;
}

.create-spot{
margin-right: 10px;

}

.pro-btn{
margin-bottom: 10px;
}
