.hidden {
    display: none;
}

nav{
    display: flex;
    border-bottom: solid grey;
    justify-content: space-between;
}

.pointer{
    cursor:pointer;
}

.profile-dropdown > li{
    list-style-type: none;
}


